/ This section is for Splash Screen
%section#jSplash
  #circle
/ End of Splash Screen
/ Homepage Slider
#home-slider
  .overlay
  .slider-text
    #slidecaption
/ End Homepage Slider
/ Header
%header
/ Instruction
#shortcodes.page
  .container
    / Title Page
    .row
      .span12
        .title-page
          %h2.title 実験にご協力いただきありがとうございます！
          %h3.title-description HeartyDrinkerはあなたがお酒に強いかどうかをテストするサービスです
    / End Title Page
    / Information Block
    .row
      .span12
        %h3.spec 
        .info-block
          .info-text
            %h3
              %span.color-text 手順1
              体重を測る
            .input-group
              %label 体重(kg)
              %input#weight{:placeholder => "100.00", :type => "text"}
          %hr
          .info-text
            %h3
              %span.color-text 手順2
              iomzからビールを1缶200円で買う
          %hr
          .info-text
            %h3
              %span.color-text 手順3
              右のボタンを押してから5分以内に買ったビールを飲み切る
            %a.button{:onclick => "start_timer()"} START
            #time 00:00:00
            %p 　
            %p 　
            %p 　
          %hr
          .info-text
            %h3
              %span.color-text 手順4
              5分おきにアルコールチェッカーをつかう
            .input-group
              %label アルコール濃度(mg/l)
              %input#5mins{:placeholder => "5分後", :type => "text"}
              %input#10mins{:placeholder => "10分後", :type => "text"}
              %input#15mins{:placeholder => "15分後", :type => "text"}
              %input#20mins{:placeholder => "20分後", :type => "text"}
              %input#25mins{:placeholder => "25分後", :type => "text"}
              %input#30mins{:placeholder => "30分後", :type => "text"}
              %input#35mins{:placeholder => "35分後", :type => "text"}
              %input#40mins{:placeholder => "40分後", :type => "text"}
              %input#45mins{:placeholder => "45分後", :type => "text"}
              %input#50mins{:placeholder => "50分後", :type => "text"}
              %input#55mins{:placeholder => "55分後", :type => "text"}
              %input#60mins{:placeholder => "60分後", :type => "text"}
          %hr
          .info-text
            %h3
              %span.color-text 手順5
              あなたのなまえを教えて下さい
            .input-group
              %label この実験に二回以上参加してくれる人は同じなまえでおねがいします！
              %input#name{:placeholder => "なまえ", :type => "text"}
          %hr
          .info-text
            %h3
              %span.color-text 手順6
              計測結果をおくる⇛
            %a.button{:onclick => "post_logs()"} SEND
          %hr
          .info-text
            %h3
              %span.color-text 終了
              あなたが普通の人よりお酒に強いかどうかわかります！
            %p ここにグラフがでます
    / End Alerts/Tabs Section
    .row
      .span12
        %hr
    / Start Social Icons
    .row
      .span12
        .title-page.margin-50
          %h2.title あなたのお酒の強さを自慢しよう！
          %h3.title-description
            まだ未実装です
        %nav.icons-example
          %ul
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Facebook"}
                %span.font-icon-social-facebook
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Google+"}
                %span.font-icon-social-google-plus
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Twitter"}
                %span.font-icon-social-twitter
    / End Social Icons
/ End Shortcodes Section

