/ HeartyDrinker
%script{:src => "js/hearty-drinker.js"}
/ This section is for Splash Screen
%section#jSplash
  #circle
/ End of Splash Screen
/ Homepage Slider
#home-slider
  .overlay
  .slider-text
    #slidecaption
/ End Homepage Slider
/ Header
%header
/ Instruction
#shortcodes.page
  .container
    / Title Page
    .row
      .span12
        .title-page
          %h2.title 実験にご協力いただきありがとうございます！
          %h3.title-description HeartyDrinkerはお酒に強いかどうかを判定するサービスです
    / End Title Page
    / Information Block
    .row
      .span12
        %h3.spec 
        .info-block
          .info-text
            %h3
              %span.color-text 準備
              はじめに必ずお読みください
            必要なものの
            %ul
              %li アルコールチェッカー
              %li お酒(サッポロ生ビール黒ラベル(350ml)推奨)
              %li ブラウザ(Chrome推奨/IE以外対応)
              %li 暇な一時間(車の運転等をする予定の方はお控えください)
            心構え
            %ul
              %li この実験は、血中のアルコール濃度の推移を計測し、体重を元にした血中半減期モデルとの差異を計測するものです。
              %li 実験前30分は飲酒、飲食、喫煙、洗口、歯磨きなどはお控えください。
              %li 実験中も指示のない飲酒または飲食、喫煙、洗口、歯磨きなどはご遠慮ください。
              %li この実験は何回受けて頂いても構いません、ぜひ何度もチャレンジしてみてください。
            このウェブページについて
            %ul
              %li タイマーをスタートすると一時間後までカウントアップを始めます
              %li ページを閉じたりしても、タイマーをスタートした時間や既に記入した項目はCookieに保存されています
              %li タイマーはページを閉じても最初にスタートした時刻からのカウントアップを一時間継続します
              %li 5分ごとに計測を促す通知音が再生されます。
    .row
      .span12
        %hr
    .row
      .span12
        .info-block#pre-check
          .info-text
            %h3
              %span.color-text 手順0
              アルコールチェッカーで呼気を計測する
            %h6
              あなたの呼気中に含まれるアルコール量が0.00mg/lであることを確認してください
        .info-block#profile
          .info-text
            %h3
              %span.color-text 手順1
              あなたのプロフィールを教えて下さい
            %h6
              名前
              %input#name{:placeholder => "慶應花子", :type => "text"}
            %h6#sex-block{"data-toggle" => "tooltip", :title => "性別を教えてもらわないと評価できません(;_;)"}
              性別
              .form-group#sex
                %input{:type => "radio", :name => "sex", :value => "male"} 男性
                %input{:type => "radio", :name => "sex", :value => "female"} 女性
            %h6#weight-block{"data-toggle" => "tooltip", :title => "体重を入力してくれないと評価できません(T_T)"}
              体重(kg)
              %input#weight{:placeholder => "100.00", :type => "text"}
        /.info-block#beer-block{"data-toggle" => "tooltip", :title => "ビールの本数を入力してください(^_^)"}
        .info-block#alcohol-block
          .info-text
            %h3
              %span.color-text 手順2
              サッポロ生ビール黒ラベル(350ml)を1缶用意する
            %input#alcohol{:placeholder => "17.5", :type => "text"}
        .info-block#drink
          .info-text
            %h3
              %span.color-text 手順3
              右のボタンをクリックしてタイマーをスタート
            %h6
              ビールはタイマーをスタートしてから最初の10分間でゆっくりと飲み切ってください
            %a.button#timer-button{:onclick => "startTimer()"} START
            #time{"data-toggle" => "tooltip", :title => "まだ一時間経っていません(> <;)"} 00:00:00
            %p 　
            %p 　
            %p 　
        .info-block#log-block
          .info-text
            %h3
              %span.color-text 手順4
              5分おきにアルコールチェッカーで呼気を計測する
            %ul
              %li 5分ごとにタイマー音が出るので、お使いの端末の音量を上げると便利です
              %li 測り忘れたところは空欄でも構いません(最大3つまで)
            .input-group
              %label#alcohol-label 呼気中アルコール濃度(mg/l)
              %input#5mins{:placeholder => "5分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#10mins{:placeholder => "10分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#15mins{:placeholder => "15分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#20mins{:placeholder => "20分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#25mins{:placeholder => "25分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#30mins{:placeholder => "30分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#35mins{:placeholder => "35分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#40mins{:placeholder => "40分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#45mins{:placeholder => "45分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#50mins{:placeholder => "50分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#55mins{:placeholder => "55分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#60mins{:placeholder => "60分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
        .info-block#submit
          .info-text
            %h3
              %span.color-text 手順5
              右のボタンを押して計測結果をおくる
            %a.button#send-button{:onclick => "postLogs()"} SEND
        .info-block#finish-block
          .info-text
            %h3
              %span.color-text 終了
              体重から算出した平均値との比較ができます
            #thank-you
            %ul
              %li ここにグラフがでる予定です(まだ出ません)
              %li できればあとでまた再チャレンジしてください
              %li
                %a{:href => "/logs"}
                  みんなの結果
      %hr
    / End Alerts/Tabs Section
    .row
      .span12
        %hr
    / Start Social Icons
    .row
      .span12
        .title-page.margin-50
          %h2.title 友達にお酒の強さを自慢しよう！
          %h3.title-description
            ↑いまはまだ内緒のサービスです。
        %nav.icons-example
          %ul
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Facebook"}
                %span.font-icon-social-facebook
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Google+"}
                %span.font-icon-social-google-plus
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Twitter"}
                %span.font-icon-social-twitter
    / End Social Icons
/ End Shortcodes Section

