/ HeartyDrinker
%script{:src => "js/hearty-drinker.js"}
/ This section is for Splash Screen
%section#jSplash
  #circle
/ End of Splash Screen
/ Homepage Slider
#home-slider
  .overlay
  .slider-text
    #slidecaption
/ End Homepage Slider
/ Header
%header
/ Instruction
#shortcodes.page
  .container
    / Title Page
    .row
      .span12
        .title-page
          %h2.title 実験にご協力いただきありがとうございます！
          %h3.title-description HeartyDrinkerはお酒に強いかどうかを判定するサービスです
    / End Title Page
    / Information Block
    .row
      .span12
        %h3.spec 
        .info-block
          .info-text
            %h3
              %span.color-text 準備
              はじめに必ずお読みください
            注意事項
            %ul
              %li お酒に対する耐性が極度に低い方や未成年者のご利用はご遠慮ください。
              %li 実験後に車の運転等をおこなう予定の方もお控えください。
              %li 実験前30分は飲酒、飲食、喫煙、洗口、歯磨きなどはお控えください。
              %li 実験中も指示のない飲酒または飲食、喫煙、洗口、歯磨きなどはご遠慮ください。
              %li この実験は何回受けて頂いても構いません、ぜひ何度もチャレンジしてみてください。
            必要なもの
            %ul
              %li アルコールチェッカー
              %li サッポロ生ビール黒ラベル(350ml)
              %li ブラウザ(Chrome推奨/IE以外対応)
              %li 一時間
            このウェブページについて
            %ul
              %li タイマーをスタートすると一時間後までカウントアップを始めます
              %li ページを閉じたりしても、タイマーをスタートした時間や既に記入した項目はCookieに保存されています
              %li タイマーはページを閉じても最初にスタートした時刻からのカウントアップを一時間継続します
              %li 5分ごとに計測を促す通知音が再生されます。
            以下に同意できる方のみ[同意する]ボタンをクリックして次へ進んでください。
            #ic-block
              .accordion-group
                .accordion-heading.accordionize
                  %a.accordion-toggle{"data-toggle" => "collapse", "data-parent" => "#ic-block", "href" => "#informed-consent"}
                    インフォームドコンセント
                    %span.font-icon-arrow-simple-down
                #informed-consent.accordion-body.collapse
                  .accordion-inner
                    本実験は、呼気中のアルコール濃度の推移を計測し、1-コンパートメントモデルによる血漿薬物濃度の推定値と、Widmarkの公式を用いた推定値のどちらがより正しいかを検証するたためのものです。
                    実験の特性上、被験者はアルコールを摂取する必要があり、場合によってはアルコールによる健康障害を引き起こす可能性があります。
                    そのため、本実験への参加は完全に自主的なものであり、HeartyDrinkerはこの実験への参加によって生じたいかなる不利益も感知しません。
                    また、実験に参加される場合、短時間でのアルコールの多量摂取は急性アルコール中毒を引き起こす危険性があるため、必ず指定されたとおりにおこなってください。
                    本実験で得られた個人情報(名前、性別、体重、計測値)はHeartyDrinker管理者が、個人情報に関する法令、規範に則り適正に管理いたします。
                    個人情報の第三者へ開示は、ご本人の同意がある場合を除いて、提供いたしません。
                    本研究は、文部科学省ならびに厚生労働省の制定する「人を対象とする医学系研究に関する倫理指針」総則第3により適用される研究の対象とはなりませんが、実験対象者への負担並びに予測されるリスク及び利益を告知するために、自主的にインフォームドコンセントを設置致します。
                    本実験参加者は必ずこのインフォームドコンセントに同意するものとします。

                    　  
                    #agree.center
                      %a.button#agree-button{:onclick => "agree()"} 同意する
    .row
      .span12
        %hr
    .row#procedures
      .span12
        .info-block#pre-check
          .info-text
            %h3
              %span.color-text 手順0
              アルコールチェッカーで呼気を計測する
            %h6
              あなたの呼気中に含まれるアルコール量が0.00mg/lであることを確認してください
        .info-block#profile
          .info-text
            %h3
              %span.color-text 手順1
              あなたのプロフィールを教えて下さい
            %h6
              名前
              %input#name{:placeholder => "慶應花子", :type => "text"}
            %h6#sex-block{"data-toggle" => "tooltip", :title => "性別を教えてもらわないと評価できません(;_;)"}
              性別
              .form-group#sex
                %input#male{:type => "radio", :name => "sex", :value => "male"} 男性
                %input#female{:type => "radio", :name => "sex", :value => "female"} 女性
            %h6#weight-block{"data-toggle" => "tooltip", :title => "体重を入力してくれないと評価できません(T_T)"}
              体重(kg)
              %input#weight{:placeholder => "100.00", :type => "text"}
        /.info-block#beer-block{"data-toggle" => "tooltip", :title => "ビールの本数を入力してください(^_^)"}
        .info-block#alcohol-block
          .info-text
            %h3
              %span.color-text 手順2
              サッポロ生ビール黒ラベル(350ml)を1缶用意する
            %input#alcohol{:placeholder => "17.5", :type => "text"}
        .info-block#drink
          .info-text
            %h3
              %span.color-text 手順3
              右のボタンをクリックしてタイマーをスタート
            %h6
              ビールはタイマーをスタートしてから最初の10分間でゆっくりと飲み切ってください
            %a.button#timer-button{:onclick => "startTimer()"} START
            #time{"data-toggle" => "tooltip", :title => "まだ一時間経っていません(> <;)"} 00:00:00
            %p 　
            %p 　
            %p 　
        .info-block#log-block
          .info-text
            %h3
              %span.color-text 手順4
              5分おきにアルコールチェッカーで呼気を計測する
            %ul
              %li 5分ごとにタイマー音が出るので、お使いの端末の音量を上げると便利です
              %li 測り忘れたところは空欄でも構いません(最大3つまで)
            .input-group
              %label#alcohol-label 呼気中アルコール濃度(mg/l)
              %input#5mins{:placeholder => "5分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#10mins{:placeholder => "10分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#15mins{:placeholder => "15分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#20mins{:placeholder => "20分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#25mins{:placeholder => "25分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#30mins{:placeholder => "30分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#35mins{:placeholder => "35分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#40mins{:placeholder => "40分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#45mins{:placeholder => "45分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#50mins{:placeholder => "50分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#55mins{:placeholder => "55分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
              %input#60mins{:placeholder => "60分後", :type => "text", "data-toggle" => "tooltip", :title => "0.00-1.00の値を入れてください"}
        .info-block#submit
          .info-text
            %h3
              %span.color-text 手順5
              右のボタンを押して計測結果をおくる
            %a.button#send-button{:onclick => "postLogs()"} SEND
        .info-block#finish-block
          .info-text
            %h3
              %span.color-text 終了
              体重から算出した平均値との比較ができます
            #thank-you
            %ul
              %li ここにグラフがでる予定です(まだ出ません)
              %li できればあとでまた再チャレンジしてください
              %li
                %a{:href => "/logs"}
                  みんなの結果をみる
      %hr
    / End Alerts/Tabs Section
    .row
      .span12
        %hr
    / Start Social Icons
    .row
      .span12
        .title-page.margin-50
          %h2.title 友達にお酒の強さを自慢しよう！
          %h3.title-description
            ↑いまはまだ内緒のサービスです。
        %nav.icons-example
          %ul
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Facebook"}
                %span.font-icon-social-facebook
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Google+"}
                %span.font-icon-social-google-plus
            %li
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Share on Twitter"}
                %span.font-icon-social-twitter
    / End Social Icons
/ End Shortcodes Section

